

html {
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
}

body {
  max-width: 575px;
  margin: 0 auto;
}

input {
  width: 500px;
  height: 60px;
  font-size: 40px;
  border: solid 3px #8c8888;
  text-align: left;
}

input:focus {
  outline: none;
}

li {
  text-align: left;
  font-size: 40px;
  list-style: none;
  margin: 0;
  cursor: pointer;
}

li:hover {
  text-decoration: line-through;
  color: red;
}

.btn {
  display: inline;
  float: right;
  padding: 20px;
  background: #e1e878;
}
